@charset "UTF-8";

#top .nav-btn {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

#nav .close-btn {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
#nav .block-title {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
#nav ul {
  text-align: center;
  white-space: nowrap;
}
#nav li {
  display: inline-block;
  border-right: 1px solid rgba(255, 255, 255, 0.1);
}
#nav li:last-child {
  border-right: none;
}
#nav li a {
  padding: 0.429em 0.857em;
}